html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul,
ol {
  padding: 0;
  margin: 0;
}


////////////////////////////////////////////////////////////////////////////////
// Animations
////////////////////////////////////////////////////////////////////////////////

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.quick-enter-active,
.quick-leave-active {
  transition: opacity 0.5s;
}

.quick-enter,
.quick-leave-to {
  opacity: 0 !important;
}