////////////////////////////////////////////////////////////////////////////////
// GLOBAL
////////////////////////////////////////////////////////////////////////////////

html {
  font-size: 62.5%; // -> 1rem = 10px
  font-family: 'Lato', sans-serif;
}


////////////////////////////////////////////////////////////////////////////////
// FONTS 
////////////////////////////////////////////////////////////////////////////////

%title {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %title;

}

h1 {

  font-size: 3.2rem;
  line-height: 4.2rem;

}


h2 {
  font-size: 2.6rem;
  line-height: 3.2rem;
}


p {

  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.9rem;

  strong {
    font-weight: 700;
  }
}